<h2><%= @cocktail.name %></h2>
<%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
<ul>
  <% @cocktail.doses.each do |d|%>
    <li>(<%= d.description %>) <%= d.ingredient.name%> <%= link_to "Delete dose", dose_path(d), method: :delete %></li>
  <% end %>
</ul>

<h3>Add a dose:</h3>
<%= simple_form_for [@cocktail, @dose] do |f| %>
<%= f.input :description %>
<%= f.association :ingredient %>
<%= f.submit %>
<% end %>

<%= link_to 'See all cocktails', cocktails_path %>
