<div class="banner-cocktail" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cloudinary_url @cocktail.photo.key %>');">
  <div class="container-cocktail-name">
    <h1><%= @cocktail.name %></h1>
  </div>
  <% if policy(@cocktail).destroy? %>
    <%= link_to cocktail_path(@cocktail), method: :delete, class: 'delete-cocktail' do || %>
      <i class="far fa-trash-alt"></i>
    <% end %>
  <% end %>
</div>

<div class="full-width-container container-cocktail-doses m-4">
  <div class="row justify-content-around">
    <div class="col-sm-12 col-md-4">
      <div class="dose-list">
        <h3>Ingredients:</h3>
        <ul class="ingredients-list">
          <% @cocktail.doses.each do |d|%>
            <li><i class="fas fa-cocktail"></i> (<%= d.description %>) <%= d.ingredient.name%>
              <% if policy(d).destroy? %>
                <%= link_to dose_path(d), method: :delete do || %>
                  <i class="far fa-trash-alt"></i>
                <% end %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="col-sm-12 col-md-4">
      <div class="add-dose">
        <% if policy(@dose).create?%>
          <h3>Add a dose:</h3>
          <%= simple_form_for [@cocktail, @dose] do |f| %>
          <%= f.input :description %>
          <%= f.association :ingredient %>
          <%= f.submit %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

</div>

<div class="link-to-all-cocktails">
  <%= link_to 'See all cocktails', cocktails_path, class: 'btn btn-primary' %>
</div>

